[Unit]
Description=Cearum Web
After=network.target

[Service]
WorkingDirectory=/home/pi/cearum-web
ExecStart=/usr/bin/python3 main.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
