[Unit]
Description=Helix
After=network.target

[Service]
WorkingDirectory=/home/pi/helix
ExecStart=/usr/bin/python3 main.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
